
@helper PlusButton(string url)
{
    <a href="@url" type="button" class="btn btn-default btn-circle btn-xl">

        <i class="fa fa-plus fa-2x"></i>

    </a>
}

@helper UpArrow(string _class)
{
    <button type="button" class="@_class btn btn-default btn-circle">

        <i class="fa fa-arrow-up"></i>

    </button>
}

@helper DownArrow(string _class)
{
    <button type="button" class="@_class btn btn-default btn-circle">

        <i class="fa fa-arrow-down"></i>

    </button>
}

@helper AddOptionButton(string _class)
{
    <a href="#" type="button" class="@_class btn btn-default btn-circle">

        <i class="fa fa-plus"></i>

    </a>
}

@helper RemoveOptionButton(string _class)
{
    <a href="#" type="button" class="@_class btn btn-default btn-circle">

        <i class="fa fa-close"></i>

    </a>
}

@helper VerticalTabs(IEnumerable<KeyValuePair<string, string>> name_link, string selected)
{
    <ul class="nav nav-pills nav-stacked">

        @foreach (var item in name_link)
        {
            if (selected == item.Key)
            {
                <li class="active"><a href="@item.Value">@item.Key</a></li>
            }
            else
            {
                <li><a href="@item.Value">@item.Key</a></li>
            }
        }

    </ul>
}

@helper Back(string url)
{
    <a href="@url" type="button" class="btn btn-default">

        <i class="fa fa-arrow-left fa-2x"></i>

    </a>
}

@helper ActionWithParameter(string url, string id, string text, string _class) 
{ 
    {
        url = url + "?id=" + id;
    }

    <a href="@url" type="button" class="btn btn-default @_class">
        @text
    </a>
}

@helper GroupSubmits(IEnumerable<int> orderNumbers)
{
    <div id="qGroup">

        @foreach (var item in orderNumbers)
        {
            <input name="value" type="submit" value="@item" class="btn btn-default btn-squared-small question choose" />
        }

    </div>
}

@helper CheckBoxSimple(string Name, bool IsChecked, string value)
{
    if (IsChecked)
    {
        <input type="checkbox" name="@Name" value="@value" checked="checked" />
    }
    else
    {
        <input type="checkbox" name="@Name" value="@value" />
    }
}