@using QuizManager.DBModels;
@using QuizManager.ModelViews;
@model FinishView

<ul class="list-group">

    @foreach (var item in Model.SectionAnswers)
    {
        <li class="list-group-item">

            <div class="text-center">

                <h4>
                    Section:
                    <strong>
                        @item.Section.Name
                    </strong>
                </h4>

            </div>

            <ul class="list-group">

                @foreach (var question in item.QuestionIndex_IsInit)
                {
                    <li class="list-group-item form-inline">

                        <h4>
                            <strong>Question № @question.Key :</strong>

                            @if (question.Value)
                            {
                                <strong class="mygreen">Finished</strong>
                            }
                            else
                            {
                                <strong class="myred">Not Finished</strong>
                            }
                        </h4>

                    </li>
                }

            </ul>

        </li>
    }

</ul>

<div>

    @using (Ajax.BeginForm("UndoFinish", null, new AjaxOptions() { UpdateTargetId = "tests" }, new { id = "TestsForm" }))
    {
        <div>

            @Html.HiddenFor(x => x.Quiz.Id)

        </div>

        <div class="text-center">
            <span>

                @if (Model.Quiz.Type != QuizType.Adaptive &&
                    Model.Quiz.TimeLimitType != QuizTimeLimitType.SectionLimited)
                {
                    <input type="submit" class="btn btn-info mycolor" value="Back" />
                }

                @RenderHelper.ActionWithParameter(Url.Action("SaveAttemp", "Test"), Model.Quiz.Id.ToString(), "Finish", "")

            </span>
        </div>

    }

</div>

<div class="hidden">
    @using (Html.BeginForm("SaveAttemp", "Test", FormMethod.Get))
    {
        <input type="hidden" value="@Model.Quiz.Id" name="id" />
        <input type="submit" id="end" />
    }
</div>

@if (ViewBag.isEnded)
{
    <script>

        $(document).ready(function () {
            document.getElementById('end').click();
        })

    </script>
}