@using QuizManager.DBModels;

@model Quiz

<div class="container">

    @Html.Label("Quiz name:")
    @Html.DisplayFor(x=>x.Name)

    @Html.Label("Question count:")
    @Html.DisplayFor(x=>x.QuestionCount)

    @Html.Label("Time Limit:")
    @Html.DisplayFor(x=>x.TimeLimit)

    @Html.Label("Quiz type:")
    @Html.DisplayFor(x=>x.Type)

    <p>Input description for every type of quiz!!!</p>
    
    @Html.Label("Authorization type:")
    @Html.DisplayFor(x=>x.UserData)

    @Html.Label("Created by:")
    @Html.DisplayFor(x=>x.User.UserName)

    <div id="submit">

        @using (Html.BeginForm("Test", "Test", FormMethod.Post))
        {
            @Html.HiddenFor(x=>x.Id)

            <label for="sub">Do you want to start quiz?</label>

            <input type="submit" id="sub" class="btn btn-default" value="Start Quiz" />
        }

    </div>

</div>