@using QuizManager.Helpers;
@using QuizManager.DBModels;
@using QuizManager.ModelViews;
@using QuizManager.XmlModels;

@model AttempTestView

@{
    XmlTestList question = Model.Model as XmlTestList;

    var answers = new List<int>();

    if (Model.XmlAnswer is XmlSingleAnswer)
    {
        var singleAnswer = Model.XmlAnswer as XmlSingleAnswer;

        if (singleAnswer.Answer != -1)
        {
            answers.Add(singleAnswer.Answer);
        }
    }
    else if (Model.XmlAnswer is XmlMultyAnswer)
    {
        var multyAnswer = Model.XmlAnswer as XmlMultyAnswer;

        if (multyAnswer.Answer != null)
        {
            answers.AddRange(multyAnswer.Answer.ToList());
        }
    }
}

<div class="well questionwell">

    <h4>Question:<strong>@Model.Question.Text</strong></h4>
    <h4>Mark:<strong>@Math.Round(Model.Answer.Mark, 2) / @Model.Question.Value</strong></h4>

</div>

@foreach (var id in answers)
{
    var option = question.Options.Single(x => x.Id == id);

    if (option.IsTrue)
    {
        <div class="alert alert-success">
            <h4>@option.Comment</h4>
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <h4>@option.Comment</h4>
        </div>
    }
}

<ul class="list-group">
    @foreach (var item in question.Options)
    {
        if (item.IsTrue && answers.Contains(item.Id))
        {
            <li class="list-group-item">
                <div class="alert alert-success form-inline">
                    <h4>
                        @item.Text
                        <div class="pull-right">
                            <strong>Correct answer</strong>
                        </div>
                    </h4>
                </div>
            </li>
        }
        else if (answers.Contains(item.Id))
        {
            <li class="list-group-item">
                <div class="alert alert-danger form-inline">
                    <h4>
                        @item.Text
                        <div class="pull-right">
                            <strong>Correct answer</strong>
                        </div>
                    </h4>
                </div>
            </li>
        }
        else if (item.IsTrue)
        {
            <li class="list-group-item">
                <div class="alert form-inline">
                    <h4>
                        @item.Text
                        <div class="pull-right">
                            <strong>Answer</strong>
                        </div>
                    </h4>
                </div>
            </li>
        }
        else
        {
            <li class="list-group-item">
                <div class="alert form-inline">
                    <h4>@item.Text</h4>
                </div>
            </li>
        }
    }
</ul>

