@using QuizManager.Helpers;
@using QuizManager.DBModels;
@using QuizManager.ModelViews;
@using QuizManager.XmlModels;

@model AttempTestView

@{
    var XmlQuestion = Model.Model as XmlOrder;

    var XmlAnswer = Model.XmlAnswer as XmlMultyAnswer;
}

<div class="well questionwell">

    <h4>Question: <strong>@Model.Question.Text</strong></h4>
    @if (Model.Question.Quiz.Type == QuizType.Adaptive &&
        Model.Question.Quiz.TestingType == QuizTestingType.PerQuestion)
    {
        <h4>Difficulty: <strong>@Model.Question.Difficulty</strong></h4>
    }
    @if (Model.Question.Quiz.TimeLimitType == QuizTimeLimitType.QuestionLimited)
    {
        <h4>Time limit: <strong>@Model.Question.TimeLimit</strong></h4>
    }
    <h4>Mark: <strong>@Math.Round(Model.Answer.Mark, 2) / @Model.Question.Value</strong></h4>

</div>

<ul class="list-group">

    @for (int i = 0; i < XmlAnswer.Answer.Length; ++i)
    {
        var answerOption = XmlQuestion.Options.
            Single(x => x.Id == XmlAnswer.Answer[i]);

        var trueOption = XmlQuestion.Options[i];

        var index = XmlQuestion.Options.
            FindIndex(x => x.Id == answerOption.Id) + 1;

        <li class="list-group-item">

            @if (trueOption.Id == answerOption.Id)
            {
                <div class="alert alert-success">
                    <div class="form-inline">
                        <h4>
                            @answerOption.Text
                            <div class="pull-right">
                                <i class="fa fa-lg fa-thumbs-up"></i>
                            </div>
                        </h4>
                    </div>
                    @if (!answerOption.Comment.IsNullOrEmptry())
                    {
                        <div class="form-inline">
                            <h4>
                                @answerOption.Comment
                                <div class="pull-right">
                                    <i class="fa fa-lg fa-comment"></i>
                                </div>
                            </h4>
                        </div>
                    }
                </div>
            }
            else
            {
            <div class="alert alert-danger">
                <div class="form-inline">
                    <h4>
                        @answerOption.Text
                        <div class="pull-right">
                            <span>
                                <i class="fa fa-lg fa-thumbs-down"></i>
                                order: @index
                            </span>
                        </div>
                    </h4>
                </div>
                @if (!answerOption.Comment.IsNullOrEmptry())
                {
                    <div class="form-inline">
                        <h4>
                            @answerOption.Comment
                            <div class="pull-right">
                                <i class="fa fa-lg fa-comment"></i>
                            </div>
                        </h4>
                    </div>
                }
            </div>
            }

        </li>
    }

</ul>
