@using QuizManager.Helpers;
@using QuizManager.DBModels;
@using QuizManager.ModelViews;

@model QuizAttempView
@{
    ViewBag.Title = "GetAttepmt";
}

<div class="well row mywell">

    <div class="pull-left myhmargin">
        @using (Html.BeginForm("GeneratePDF", "Cabinet", FormMethod.Post, new { id = "generateForm" }))
        {
            <input type="hidden" id="htmlContainer" name="htmlValue" />

            <input type="submit" class="btn btn-info mycolor" value="Generate PDF" />
        }
    </div>

    <div class="pull-right myhmargin">
        <h4>Quiz: <strong>@Model.Quiz.Name</strong></h4>
        <h4>Type: <strong>@Model.Quiz.Type</strong></h4>
        <h4>Time limit: <strong>@Model.Quiz.TimeLimit</strong></h4>
        <h4>Time of finishing attempt: <strong>@Model.Attempt.Time</strong></h4>
        <h4>Mark: <strong>@Model.Attempt.Mark / @Model.Quiz.Value</strong></h4>
    </div>
    
</div>

@section scripts
{
    <script>

        $('#generateForm').submit(function() {
            var value = document.getElementById('page').innerHTML;

            var input = document.getElementById('htmlContainer');

            input.setAttribute('value', value);
        });

    </script>
}

<div id="page">

    <ul class="list-group" id="sections">

        @foreach (var Section in Model.Sections)
        {
            <li class="list-group-item section">

                <div class="well mywell">
                    <h4>Section name:<strong>@Section.Section.Name</strong></h4>
                    @if (Section.Section.TimeLimitType == SectionTimeLimitType.Limited)
                    {
                        <h4>Time limit:<strong>@Section.Section.TimeLimit</strong></h4>
                    }
                </div>

                <ul class="list-group">

                    @foreach (var test in Section.Tests)
                    {
                        <li class="list-group-item">

                            @Html.Partial(test.View, test)

                        </li>
                    }

                </ul>

            </li>
        }

    </ul>

</div>
    