@using QuizManager.Helpers;
@using QuizManager.DBModels;
@using QuizManager.ModelViews;

@model QuizAttempView
@{
    ViewBag.Title = "GetAttepmt";
}

    <div class="container">

        <div class="text-center">
            <h3>Attemp</h3>
        </div>

        <div class="form-group">
            @Html.Label("Quiz:")
            @Html.DisplayFor(x => x.Quiz.Name)
        </div>

        <div class="form-group">
            @Html.Label("Type:")
            @Html.DisplayFor(x => x.Quiz.Type)
        </div>

        <div class="form-group">
            @Html.Label("Time limit:")
            @Html.DisplayFor(x => x.Quiz.TimeLimit)
        </div>

        <div class="form-group">
            @Html.Label("Time of finishing attemp")
            @Html.DisplayFor(x => x.Attempt.Time)
        </div>

        <div class="form-group">
            @Html.Label("Mark:")
            @Html.DisplayFor(x=>x.Attempt.Mark)
        </div>

    </div>

<div class="container">

    <ul class="list-group" id="sections">

        @foreach(var Section in Model.Sections)
        {
            <li class="list-group-item section">

                <div class="container">

                    <div class="form-group">
                        <strong>№ </strong>

                        @Section.Section.Order
                    </div>

                    <div class="form-group">
                        <strong>Section: </strong>

                        <span>@Section.Section.Name</span>
                    </div>

                    <div class="form-group">
                        <strong>Type: </strong>
                        <span>@Section.Section.Type</span>
                    </div>

                    <div class="form-group">
                        <strong>Time Limit:</strong>
                        <span>@Section.Section.TimeLimit</span>
                    </div>
                    
                </div>

                <ul class="list-group">

                    @foreach(var test in Section.Tests)
                    {
                        <li class="list-group-item test">

                            @Html.Partial(test.View, test)

                        </li>
                    }

                </ul>

            </li>
        }

    </ul>

</div>

