@using QuizManager.Helpers;
@using QuizManager.DBModels;
@using QuizManager.ModelViews;
@model QuizLinkView
@{
    ViewBag.Title = "GetLink";
}

<h2>GetLink</h2>

<div class="container">

    <h4>Quiz:</h4>

    <div class="container">

        @Html.Partial("TableByProperty", new TableView()
        {
            data = new List<Quiz>() { Model.Quiz },
            PropertyNames = new List<string>()
            {
                "Name", "Type", "TimeLimit", "QuestionCount"
            },
            HeaderNames = new List<string>()
            {
                "Name", "Type", "Time limit", "Question count"
            }
        })

    </div>

    @if (Model.IsRefExists)
    {
        <div class="container">

            <label>Exist link:</label>
            @Html.DisplayTextFor(x => x.Link)

        </div>
    }

    <div class="container">

        @using (Html.BeginForm("GetLink", "Cabinet", FormMethod.Get))
        {
            <input type="hidden" value="@Model.Quiz.Id" name="id" />
            <input type="submit" class="btn btn-default" value="Generate" />
        }

        @if (Model.IsRefExists)
        {
            using (Html.BeginForm("DeleteLink", "Cabinet", FormMethod.Get))
            {
                <input type="hidden" name="Id" value="@Model.Reference.Id" />
                <input type="submit" class="btn btn-danger" value="Delete link" />
            }
        }

    </div>

    <div class="container">

        @RenderHelper.Back(Url.Action("Index", "Cabinet"))

    </div>

</div>