@using QuizManager.Helpers;
@using QuizManager.DBModels;
@using QuizManager.ModelViews;
@model QuizLinkView
@{
    ViewBag.Title = "GetLink";
}

<br />

    <div class="container">

        <div class="container">

            @Html.Partial("TableByProperty", new TableView()
            {
                data = new List<Quiz>() { Model.Quiz },
                PropertyNames = new List<string>()
                {
                    "Name", "Type", "TimeLimit", "UserData", "Value"
                },
                HeaderNames = new List<string>()
                {
                    "Name", "Type", "Time limit", "Authorization type", "Highest mark"
                }
            })

        </div>

        @if (!Model.IsQuizValid)
        {
            <div class="container form-group">

                <div class="form-group">

                    <strong>This quiz is not finished</strong>

                </div>

                <div id="errors" class="form-group">

                    @foreach (var error in Model.Errors)
                    {
                        <div class="alert alert-danger">
                            @error
                        </div>
                    }

                </div>

            </div>
        }
        else
        {
            if (Model.IsRefExists)
            {
                <div class="container form-inline">

                    <label>Exist link: </label>

                    <input id="link" style="width:2000px;" type="text" value="@Model.Link" class="form-control" />

                    <button type="button" class="copy-link btn btn-default">Copy Link</button>

                </div>
            }

            <br />

            <div class="container form-inline">

                <div class="form-group">
                    @using (Html.BeginForm("GetLink", "Cabinet", FormMethod.Get))
                    {
                        <input type="hidden" value="@Model.Quiz.Id" name="id" />
                        <input type="submit" class="btn btn-default" value="Generate link" />
                    }
                </div>

                @if (Model.IsRefExists)
                {
                    <div class="form-group">
                        @using (Html.BeginForm("DeleteLink", "Cabinet", FormMethod.Get))
                        {
                            <input type="hidden" name="Id" value="@Model.Reference.Id" />
                            <input type="submit" class="btn btn-danger" value="Delete link" />
                        }
                    </div>
                }

            </div>

        }

        <br />

        <div class="container form-group">

            @RenderHelper.Back(Url.Action("Index", "Cabinet"))

        </div>

    </div>


@section scripts
{
    <script>

        $(document).on('click', 'button.copy-link', function () {

            var link = document.getElementById('link');

            link.select();
            link.setSelectionRange(0, 99999);

            document.execCommand("copy");

            alert("Link is copied to clipboard: " + link.value);

        });

    </script>
}