@using QuizManager.Helpers;
@using QuizManager.DBModels;
@using QuizManager.ModelViews;

@model Quiz
@{
    ViewBag.Title = "Open";
}

<div class="text-center">

    <h2>Constructor</h2>

</div>

<div class="container">

    <div class="row well">

        <div class="pull-left form-inline">

            <label for="Name">Quiz:</label>

            <h4>@Model.Name</h4>

        </div>

        <div class="pull-right">

            @using (Html.BeginForm("Edit", "Constructor", FormMethod.Get))
            {
                <input type="hidden" value="@Model.Id" name="id" />
                <input type="submit" class="btn btn-warning" value="Edit" />
            }

        </div>

    </div>

    <div class="row well">

        <div class="pull-left">

            @using (Ajax.BeginForm("Question", new AjaxOptions() { UpdateTargetId = "redactor" }))
            {
                <input type="hidden" name="id" value="@Model.Id" />

                @RenderHelper.GroupSubmits(ViewBag.QuestionOrders)
            }

        </div>

        <div class="pull-right">

            @using (Ajax.BeginForm("AddQuestion", new AjaxOptions() { UpdateTargetId = "redactor" }))
            {
                <input type="hidden" name="id" value="@Model.Id" />

                <input type="submit" class="btn btn-success addquestion" value="Add" />
            }

        </div>

    </div>

</div>

<div id="redactor">

</div>
