@using QuizManager.Helpers;
@using QuizManager.DBModels;
@using QuizManager.ModelViews;

@model Section
@{
    ViewBag.Title = "Open";
}

<div class="well mywell row">

    <div class="form-inline row myhmargin">
        <div class="pull-left myhmargin">

            @RenderHelper.Back(Url.Action("Sections", "Constructor") + "?id=" + Model.Quiz.Id)

        </div>

        <div class="pull-left myhmargin">

            <h4><strong>Section:</strong>@Model.Name</h4>

        </div>

        <div class="pull-right myhmargin">

            @using (Html.BeginForm("EditSection", "Constructor", FormMethod.Get))
            {
                <input type="hidden" value="@Model.Id" name="id" />
                <input type="submit" class="btn btn-warning mycolor" value="Edit section" />
            }

        </div>
    </div>

    <br />

    <div class="row form-inline myhmargin">
        <div class="pull-left myhmargin">

            @using (Ajax.BeginForm("Question", new AjaxOptions() { UpdateTargetId = "redactor" }))
            {
                <input type="hidden" name="id" value="@Model.Id" />

                @RenderHelper.GroupSubmits(ViewBag.QuestionOrders)
            }

        </div>

        <div class="pull-right myhmargin">

            @using (Ajax.BeginForm("AddQuestion", new AjaxOptions() { UpdateTargetId = "redactor" }))
            {
                <input type="hidden" name="id" value="@Model.Id" />

                <input type="submit" class="btn btn-warning mycolor addquestion" value="New question" />
            }

        </div>
    </div>
    
</div>

<div id="redactor" class="myhmargin">

</div>
