@using QuizManager.Helpers;
@using QuizManager.DBModels;
@using QuizManager.ModelViews;
@using QuizManager.Logic;

@model QuizSectionsView

@{ 
    var helper = (ControllerHelper)ViewBag.helper;
}

<div class="well row">

    <div class="pull-left form-inline">

        <label for="Name">Quiz:</label>

        <h4>@Model.Quiz.Name</h4>

    </div>

    <div class="pull-right">

        @using (Html.BeginForm("Edit", "Constructor", FormMethod.Get))
        {
            <input type="hidden" value="@Model.Quiz.Id" name="id" />
            <input type="submit" class="btn btn-warning" value="Edit" />
        }

    </div>

</div>

<div id="sections">

    @using (Html.BeginForm("SaveOrder", "Constructor", FormMethod.Post))
    {
        <div class="list-group" id="list">

            <h3>Sections:</h3>

            @foreach (var item in Model.Sections.OrderBy(x=>x.Order).ToList())
            {
                <li class="list-group-item asection form-inline">

                    @Html.HiddenFor(x => x.SectionIds, new { Value = item.Id })

                    <span>Name: <strong>@item.Name</strong></span><br />
                    <span>Type: <strong>@item.Type.ToString()</strong></span><br />
                    <span>Time limit: <strong>@item.TimeLimit.Value.ToString()</strong></span><br />
                    <span>Question count: <strong>@item.QuestionCount</strong></span><br />

                    @RenderHelper.UpArrow("sectionUp")
                    @RenderHelper.DownArrow("sectionDown")

                    <button type="button" class="btn btn-default hidden buttons" data-toggle="modal" data-target="#@item.Id">Delete</button>
                    <div class="modal fade" id="@item.Id" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Alert</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Delete this Section?</p>
                                </div>
                                <div class="modal-footer">
                                    @RenderHelper.ActionWithParameter(Url.Action("DeleteSection", "Constructor"), item.Id.ToString(), "Delete", "")
                                </div>
                            </div>

                        </div>
                    </div>

                    @RenderHelper.ActionWithParameter(Url.Action("Open", "Constructor"), item.Id.ToString(), "Open", "hidden buttons")

                    @{
                        var isValid = helper.IsSectionValid(item.Id, out List<string> errors);
                    }

                    @if (!isValid)
                    {
                        <br /><br />

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#@item.Name">This section contains errors. Fix it, before using quiz</a>
                                    </h4>
                                </div>
                                <div id="@item.Name" class="panel-collapse collapse">
                                    <div class="list-group">
                                        @foreach (var error in errors)
                                        {
                                            <div class="list-group-item alert alert-danger">
                                                @error
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </li>
            }

        </div>

        <div class="hidden" id="saveButton">

            @Html.HiddenFor(x=>x.Quiz.Id)

            <input type="submit" class="btn btn-default" value="Save order" />

        </div>
    }

    <br />

    @using (Html.BeginForm("AddSection", "Constructor", FormMethod.Post))
    {
        <h3>New section:</h3>

        @Html.HiddenFor(x=>x.Quiz.Id)

        @Html.HiddenFor(x=>x.NewSection.Quiz.Id, new { Value=Model.Quiz.Id})

        <div class="form-group">
            @Html.Label("Name:")
            @Html.TextBoxFor(x => x.NewSection.Name, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.Label("Type:")
            @Html.EnumDropDownListFor(x => x.NewSection.Type, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.Label("Time:")
            @Html.TextBoxFor(x => x.NewSection.TimeLimit, new { @class = "form-control", type = "time" })
        </div>
        
        <div class="form-group">
            @Html.Label("Questions count:")
            @Html.TextBoxFor(x=>x.NewSection.QuestionCount, new { @class = "form-control", type = "number", min="1"})
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Add" />
        </div>
    }

</div>