@using QuizManager.Helpers;
@using QuizManager.DBModels;
@using QuizManager.ModelViews;
@using QuizManager.Helpers.Models;
@using QuizManager.XmlModels;

@model TestOrderRedactorView


@using (Ajax.BeginForm("SaveXmlOrder", null, new AjaxOptions() { UpdateTargetId = "inner" }, new { id = "SaveForm" }))
{
    <div class="form-group pull-right myhmargin">
        @RenderHelper.InfoButtonMyColor("Use 'Plus' button to add option. Use 'Remove' button to remove option. Drag options to order them in proper way.",
            "myhmargin")

        <input type="submit" class="btn btn-success mycolor" value="Save question" />
    </div>

    @Html.HiddenFor(x => x.Section.Id)
    @Html.HiddenFor(x => x.Question.Id)
    @Html.HiddenFor(x => x.Quiz.Id)

    <div class="form-inline myhmargin form-group">

        @Html.TextBoxFor(x => x.Question.Value, new { @class = "form-control", type = "number", min = "1", placeholder="Max mark", data_toggle="tooltip", data_placement="right", title="Max mark for question" })

        @RenderHelper.AddOptionButton("addLink")

    </div>

    <div class="form-group myhmargin">

        @Html.TextAreaFor(x => x.Question.Text, new { @class = "form-control", placeholder = "Question text" })

    </div>

    <hr class="myhr" />

    <ul id="options" class="list-group">

        @if (Model._XmlModel != null && Model._XmlModel.Options != null)
        {
            for (int i = 0; i < Model._XmlModel.Options.Count(); ++i)
            {
                <li class="removeContainer list-group-item">

                    @Html.HiddenFor(x => x._XmlModel.Options[i].Id)

                    <div class="row myhmargin">

                        <div class="form-group pull-left my80">
                            @Html.TextBoxFor(x => x._XmlModel.Options[i].Text, new { @class = "form-control" })
                        </div>
                        <div class="pull-right">
                            @RenderHelper.RemoveOptionButton("removeLink")
                        </div>
                        
                    </div>

                    <br />

                    <div class="form-group">

                        @Html.TextAreaFor(x => x._XmlModel.Options[i].Comment, new { @class = "form-control", placeholder = "Comment" })

                    </div>

                </li>
            }
        }

    </ul>

}

<div class="hidden">

    <li id="option" class="removeContainer list-group-item">

        <input type="hidden" />

        <div class="form-inline">

            <div class="form-group">
                <input type="text" class="form-control" />
            </div>

            @RenderHelper.RemoveOptionButton("removeLink")

        </div>

        <br />

        <div class="form-group">

            <textarea class="form-control" placeholder="Comment" />

        </div>

    </li>

</div>
